body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

h1{
    font-family: 'Montserrat';
    font-weight:bolder;
    font-size: x-large;
}

p{
    font-family: 'Montserrat';
    font-size: medium;
}

a{
    font-family: 'Montserrat';
    font-weight: bolder;
}

footer{
    font-family: 'Secular One';
    font-size: small;
}

img{
    padding: 10px;
    min-height: 300px;
    min-width: 500px;
}

.parallax-container{
    height: 200px;
}

.sidenav-align{
margin-top: 75px;
text-align: center;
}

.sidenav-style{
font-style: 'Montserrat';
font-size: 30px;
}

.cert-heading{
    font-style: 'Montserrat';
    font-size: large;   
}
